<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<PublishProvider>AzureWebSite</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>http://dotnetcorejenkingstesting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<ProjectGuid>01d22042-f917-4def-8416-c62fbd9424ab</ProjectGuid>
		<MSDeployServiceURL>dotnetcorejenkingstesting.scm.azurewebsites.net:443</MSDeployServiceURL>
		<DeployIisAppPath>dotnetcorejenkingstesting</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>True</EnableMSDeployBackup>
		<UserName>$dotnetcorejenkingstesting</UserName>
		<Password>pNJi4ppdwmQWLYT4Duxlnz5C8bs6jFNyCgvn1XJZuTCxkpb2eB1xqxmfgNCs</Password>
		<_SavePWD>True</_SavePWD>
		<_DestinationType>AzureWebSite</_DestinationType>
	</PropertyGroup>
</Project>